/* 
--- 01 TYPOGRAPHY SYSTEM

-FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  
-FONT WEIGHTS:
DEFAULT:
Medium: 
Semi-Bold:
Bold:

-LINE HEIGHTS:
DEFAULT:
Small: 
Medium: 
Paragraph Default: 
Large: 

-Letter Spacing:


--- 02 COLORS

-Primary: 
-Tints:

-Shades:

-Accents: rgb(15 116 143 / 70%)
-Greys:

--- 05 SHADOWS


--- 06 BORDER-RADIUS 
Default: 
Medium:

--- 07 WHITESPACE
-SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --grey-alt-color: #8f8f8f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
/* *********************** */
/* GENERAL COMPONENTS */
/* *********************** */
.container {
  /* 1140px */
  max-width: 120rem;
  padding: 8.4rem 3.2rem 8.4rem 3.2rem;
  margin: 0 auto;
}
.grid-2-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-3-cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-4-cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
